My Cyber pro/labs/oilsprings/scada/flows.json
[
    {
        "id": "main_flow",
        "type": "tab",
        "label": "SCADA Control",
        "disabled": false,
        "info": "Main SCADA control flow for OilSprings facility"
    },
    {
        "id": "modbus_client",
        "type": "modbus-client",
        "name": "PLC Connection",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.2.10",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "read_coils",
        "type": "modbus-read",
        "z": "main_flow",
        "name": "Read PLC Status",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "10",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "modbus_client",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "debug_output",
                "dashboard_gauge"
            ]
        ]
    },
    {
        "id": "debug_output",
        "type": "debug",
        "z": "main_flow",
        "name": "PLC Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 400,
        "y": 100,
        "wires": []
    },
    {
        "id": "dashboard_gauge",
        "type": "ui_gauge",
        "z": "main_flow",
        "name": "System Status",
        "group": "main_dashboard",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PLC Status",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "33",
        "seg2": "66",
        "x": 400,
        "y": 160,
        "wires": []
    },
    {
        "id": "main_dashboard",
        "type": "ui_group",
        "name": "OilSprings SCADA",
        "tab": "ui_tab",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_tab",
        "type": "ui_tab",
        "name": "Control Panel",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]